<html>
<head>
<style>
body {
    text-align: center;
    height: 390px;
    background: linear-gradient(90deg, #d4eece, #d4eece, #d4eece),
              url('./images/image1.jpg') no-repeat;
              background-blend-mode: multiply;
              background-size: cover;
}
</style>
</head>
<body>
	<h1 style="text-align:center;"> The TODO Tasks APP </h1>
	{{ msg }}
	<form action="/add" method="POST">
	<div>
		<p><h3> Task Title : </h3> <input type="text" name="title" placeholder="Enter task name"></p><br>
		<input type="submit" value="ADD"><br>
	</div>
	</form>
	<h3> Your Tasks </h3>
	{% for task in tasks %}
	<p>{{ task.id }} | {{ task.title }}</p>
	{% if task.complete == False %}
		<button style="background-color:#f44336;border:none;"><span>Not Completed</span></button>
	{% else %}
	<button style="background-color:#4CAF50;border:none;"><span>Completed</span></button>
	{% endif %}
	<button><a href='/update/{{task.id}}'>Update |</a></button>
	<button><a href='/delete/{{task.id}}'>Delete</a></button>
	{% endfor %}
</body>
</html>